* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Banner part starts */
#banner {
  background-image: url(images/donation0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
}
#banner-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  text-align: center;
  padding: 10% 15%;
}
#banner-info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 80px;
  color: #ffffff;
}
#banner-info p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin: 30px 80px;
}
.donate-link {
  text-decoration: none;
  display: inline-block;
  padding: 16px 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  background-color: #ff5959;
  color: #ffffff;
  border-radius: 5px;
}
/* Banner part ends */

/* Donate amount part starts */
#donate-amount-area {
  padding: 10%;
  text-align: center;
}
.title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #121212;
  text-align: center;
}
.info {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
  margin: 30px;
  text-align: center;
}

#amount-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
#amount-area p {
  width: 135px;
  margin: 0 20px;
  padding: 44px 12px;
  background-color: #fafafa;
  color: #707070;
  font-family: "Inter";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  border-radius: 5px;
}

#two-hundred {
  border: 2px solid #ff5959;
  color: #ff5959 !important;
}

#other-amount {
  color: #b3b3b3;
  margin: 40px 135px 10px;
}

#underline {
  width: 765px;
  border-bottom: 1px solid #dadada;
  margin: 0 110px 30px;
}
/* Donate amount part ends */

/* Donate plan part starts */
#donate-plan-area {
  padding-left: 5%;
  padding-right: 5%;
}
#plans {
  display: flex;
}
.one-third-width {
  padding: 3%;
  margin: 30px 20px;
  border-radius: 5px;
}
#grey-color {
  background: rgba(79, 157, 166, 0.1);
}
#pink-color {
  background: rgba(255, 89, 89, 0.1);
}
#yellow-color {
  background: #fff4d6;
}
.one-third-width img {
  margin-top: 30px;
  margin-bottom: 20px;
}
.plan-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #121212;
}
.plan-info {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  margin-top: 20px;
}
/* Donate plan part ends */

/* Get update part starts */
#get-update-area {
  padding: 10%;
  text-align: center;
}
#form-area {
  background: #fff4d6;
  width: 800px;
  padding: 7%;
  margin: 0 auto;
}
#form-area input {
  border: 0;
  padding: 10px;
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  width: 250px;
  padding-right: 0;
}
#form-area a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #ff5959;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Get update part ends */
